body {
    margin: 0;
    background-color: #FFFDD0;
}


* {
    font-family: 'Courier';
    user-select: none;
}

*[r] {
    color: #b7111b;
}

*[r|true] {
    color: #b7111b;
}

button {
    background-color: #00000000;
    border: none;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
}

page-title {
    overflow: unset;
}

form {
    text-align: center;
}

input{
    background-color: #00000000;
    border-color: #00000000;
    outline: none;
}

.login-form {
    border-radius: 5px;
    border-color: black;
    border-style: solid solid solid solid;
}

.drawing-example{
    width: 300px;
    height: 300px;
    font-size: 100px;
    padding-left: 10px;
}