body {
    margin: 0;
    background-color: #FFFDD0;
}


* {
    font-family: 'Courier';
    user-select: none;
}

*[r] {
    color: #b7111b;
}

*[r|true] {
    color: #b7111b;
}

button {
    background-color: #00000000;
    border: none;
}